transformers
fire
evaluate
datasets
jiwer
more_itertools
peft
torchaudio
distro
huggingface-hub
google-generativeai
google-genai
openai
dashscope
librosa
soundfile
numpy
python-dotenv
azure-identity
torchcodec
